html, body {
    margin: 0 auto;
    font-size: 100%;
    font-family: robotoCondensed;
}

heading{
   font-size: 20px;
   color: #000;
   font-weight: bold;
   margin-top: 20px;
   margin-bottom: 20px;
}
p{
   font-size: 17px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: #544c4c;
}

ul{
   margin: 0px;
   padding-left: 0px;
}

ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    background: url(bullet.png) no-repeat left 6px;
    padding-left: 20px;
}

::-webkit-scrollbar {
    width: 8px;
} 

::-webkit-scrollbar-thumb  {
    background: #b5b5b5; 
    border-radius: 6px;
}