.containerCSS .modal .modal-dialog{
	
	/* -moz-transform: translateY(-50%); 
	-o-transform: translateY(-50%); 
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%); 
    top: 40%;  */
    padding: 10px;
    background: transparent;
}
.input-group-addon, .input-group-btn{
    width: auto;
}
.input-group
{
    width:100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
#question p{
    margin: 0;
    font-size: 18px;
}
.input-group .question_icon
{
    padding: 0;
    width: 100px;
    position: relative
    right:0px;
}
.control-label
{
    display: flex;
    align-items: center;
}
.containerCSS .head_title{
    margin-bottom: 15px;
    /* font-size: 24px !important; */
}
.containerCSS .con_part h4 {
     padding-left: 0px;
     font-size: 20px !important;
}
.containerCSS .con_part h4,.radio,.multichoicesingle .modal-body,#parentContainerParent .btn-primary
{
    font-size: 17px !important;
}
.containerCSS #instruction
{
    font-size: 17px !important;
    font-style: italic;
}
.containerCSS .con_part .form-group{
    margin-bottom: 0px;
}
.modal-dialog
{
    background-color: none !important;
}
.containerCSS .row{
    margin-left: 0px;
    margin-right: 0px;
}
ol
{
	padding-left: 15px;
}
h4 p{
    margin: 5px;
}
.input-group label{
    margin: 0px;
}
.radio {
  padding-left: 20px; }
.flexClass{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button:focus {
    outline: none;
}
input[type="radio"]:focus {
    outline-offset: none;
}
input[type="radio"]:focus,input:focus,.radio:focus
{
    outline:none;
    outline-offset: 0px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 20px;}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
     width: 20px;
    height: 20px;
  left: 0;
  top: 4px;
  margin-left: -20px;
  border: 1px solid #5b6065;
  border-radius: 50%;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
.radioImageClass{
    width: 200px;
    height: 200px;
}
.radio .radioImageClass::before {
    border-radius: unset;
    border: none;
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    top: 0px;
   }
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
      width: 12px;
    height: 12px;
    left: 4px;
    top: 8px;
  margin-left: -20px;
  border-radius: 50%;
 background-color:#5b6065;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio .radioImageClass::after {
    width: 0px;
    height: 0px;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: unset;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
   
    color: #fff;
    font-size: 43px;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}
.radio .radioImageClass:hover::after{
    width: 200px;
    height: 200px;
    content: "\2713";
}
.radio .radioImageClas::after:hover .radio .radioImageClas::after{
    background-color: rgba(0, 0, 0, 0);
}
.radio + .radio, .radio{
    margin:0;
}
#singleChoice .optionImageDiv{
    padding: 0px;
    width: 200px;
    height: 200px;
    flex: 1 0 20%;
    margin: 10px;
}
.radio input[type="radio"] {
  opacity: 0;
    z-index: 1; }
.radio input[type="radio"]:focus + label::before {
  outline: none
      outline-offset: 0px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
      }
.optionImageDiv input[type="radio"]:checked + label::after {
    width: 200px;
    height: 200px;
    content: "\2713";
}
.radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color:rgb(2,88,154);	 }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color:rgb(2,88,154);	 }

  
/** popup **/

button .close
{
    color:#000000 !important;
}  
.feedback_model .modal-header .close {  
    top: -33.5%;  
}
/* .modal-body ul, ol {
    padding-left: 20px;
} */
#parentContainerParent .btn-primary {
    background-color:#bf2020;
    border: 1px solid#bf2020;
}
#parentContainerParent .btn-primary:focus{
    outline: none;
}
@media (hover: hover) {
	#parentContainerParent .btn-primary:not([disabled]):hover {
        background-color: #8c0808;
        border: 1px soli #8c0808;
    }
}
.multichoicesingle .form-group
{
	background-color:#5b6065;
	color:#fff;
	/* margin-bottom: 5px; */
}

.multichoicesingle .form-group label
{
	padding:10px;
}
.multichoicesingle .form-group .input-group-addon
{
    /*width: 8%;
	 width: 1%;*/
	border: 0px;
    border-radius: 0px;
	padding: 5px 30px 5px 30px;
    font-size: 38px;
    background-color: #dadada;
    color:#5b6065;
}
.multichoicesingle .form-group .question_image
{
    padding: 0;
    background: #314862;
	
}
.multichoicesingle .form-group .question_image img
{
	max-width:100px;
}
.btn-primary
{
	/* background-color: #3A4B53 !important;
    border: 1px solid #2a343a !important; */
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    font-size: 20px;
}
.btn-primary:hover
{
	background-color: #2a343a;
    border: 1px solid #2a343a;
}
.multichoicesingle .panel-body
{
	 background-color:#fff;
}
.multichoicesingle .panel
{
	background-color:rgba(255, 255, 255, 0);
}
.multichoicesingle .modal-body
{
	/* height: 206px; */
    overflow:none;
    background: #fafafa;
    text-align: center;
    padding: 35px 10px;
    width: 100%;
}
.wrongAnswer i {
    font-size: 60px;
    padding-bottom: 15px;
    color: #bf2020;
}
.correctAnswer i{
    font-size: 60px;
    padding-bottom: 15px;
    color:#5e7b04;

}
.multichoicesingle .modal-title
{
	margin-top: -40px;
}

.multichoicesingle .modal-dialog
{
	height: auto;
}
#parentContainer .close > span {
    position: relative;
    top: 0px;
}
.containerCSS ol, .containerCSS ul {
    padding-left: 2em;
}
.containerCSS .input-group label{
    /* display: inline-block; */
    vertical-align: middle;
}
.containerCSS .input-group .question_image{
    /* display: inline-block; */
    vertical-align: middle;
    margin-right: 7px;
}
.question_icon
{
    height:100%;
    display: flex;
    align-items: center;
}
.question_image_cont
{
    display: flex;
    align-items: center;
}
.submit_btn{
	margin-bottom:8px;
	
}
#feedbackModel button.close span {
    /* padding-left: 15px; */
}

#instruction p{
    color: #544c4c;
    margin: 5px 0 10px 0;
}
.col-md-12, .con_part
{
    padding-right: 0px;
    padding-left: 0px;
}
.containerCSS .con_part
{
    padding-left: 0px;
}

.containerCSS .clickandpopup h4
{
    height:100% !important;
    display: flex;
    align-items: center;
    margin-top: 0px !important;
    margin-left: 15px !important;
    margin-bottom: 0px !important;
    font-size: 20px !important;
}
.new_popup .modal-header
{
    background-color: none;
}
.close > span
{
    /* top:0px; */
}
#parentContainer .close > span {
    position: relative;
    top: 0px;
}

.containerCSS .clickandpopup .modal-header .close {
    top: 0;
    width: auto;
    margin: 0px;
    right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}
@media screen and (max-width:1024px)
{
    .containerCSS .head_title {
        font-size: 23px !important;
    }
    .containerCSS .clickandpopup h4
    {
        font-size: 19px !important;
    }
    .containerCSS .con_part h4,.radio,.multichoicesingle .modal-body,#parentContainerParent .btn-primary {
         /* font-size: 19px !important; */
    }
    .containerCSS #instruction
    {
        /* font-size: 17px !important; */
    }
}
@media screen and (max-width:650px)
{
    .containerCSS .head_title {
        font-size: 22px !important;
    }
    .containerCSS .clickandpopup h4
    {
        font-size: 18px !important;
    }
    .containerCSS .con_part h4,.radio,.multichoicesingle .modal-body,#parentContainerParent .btn-primary {
         /* font-size: 18px !important; */
    }
    .containerCSS #instruction
    {
        /* font-size: 16px !important; */
    }
}
@media screen and (max-width: 640px)
{
	.multichoicesingle .form-group .input-group-addon
	{
		/* display: none; */
	}
}


@media only screen and (max-width: 640px) and (min-width: 320px)

{
    .containerCSS .clickandpopup .modal-body
    {
        /* height:206px !important; */
        overflow-y: none !important;
    }
	.multichoicesingle .modal-title
	{
		    height: 40px;
			margin-left: -17px;
			margin-top: -36px;
			top: -28px;
			width: 50%;
	}
	.multichoicesingle .modal-header .close {
    margin-top: 8px !important;
    width: 15%;
	}
	.multichoicesingle .modal-dialog {
    padding: 35px 16px 33px !important;
	}
	.multichoicesingle  .modal-header .close {
		top: -13.5%;
	}
	.multichoicesingle  .modal-body {
    /* height: 277px; */
	}
	.control-label h4{
	font-size:13px;	
	}
	.btn-primary {
		margin-bottom: 50px;
		
	}
	#feedbackModel button.close span {		
		right: 0;
	}
	.question_icon{
		display:none;
	}
	.question_image{
		/* display:block !important; */
		/* float:right; */
	}
	.multichoicesingle .form-group .question_image img{
		max-width:70px;
	}
}

@media only screen and (min-width: 500px) and (max-width: 991px) {	
	.multichoicesingle  .modal-header .close {
		top: -20.5%;
	}
}
@media only screen and (max-width: 767px)
{
    .question_icon{
		display:none;
	}
}
@media only screen and (min-width:320px) and (max-width:480px) {	
.radio label {
      padding-top:2px;
      min-height: 30px;
    }
}

.multichoicesingle .modal-dialog {
    height: auto;
}
@media only screen and (max-width: 640px) and (min-width: 320px)
{
.multichoicesingle .modal-header .close {
    margin-top: 0px !important;
}
}